/** global styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: unset;
    color: unset;
    font-size: larger;
}

.form-have-error {
    padding: 2rem;

    background-color: rgb(201, 133, 133);
    width: 500px;
}


.row-reverse {
    flex-direction: row-reverse;
}

#app:has(#login-form, #register-form) {
    /* display: none; */
    border: solid red;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: auto;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 5px 20px;
}

.input-error {
    color: rgb(155, 0, 0);
    font-size: 14px;
    font-weight: 500px;
   margin-top: 5px;
}

label .form-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-form,
#register-form {
    width: 100%;
    max-width: 500px;
    border: solid black;
    background: #747474;
}





input,
select,
textarea {
    width: 100%;
}

textarea {
    resize: vertical;
    height: 400px;
}

.input-filled:invalid {
    border: 2px solid red;
    background: whitesmoke;
}

body {
    width: 100%;
    height: 100vh;
    border: solid black;
    color: black !important;
}

header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #acacac;
}


/** buttons styles  */

button {
    /* all: unset; */
    cursor: pointer !important;
    background: transparent;
    padding: 5px 15px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 4px;

}

.primary-btn {}

.secondary-btn {}

.close-btn {
    position: absolute;
    right: 0;
    top: 15px;
    right: 15px;
    display: flex;
}

.logout-btn {
    border: unset;
    cursor: pointer;
    padding: 10px 20px;
    background: whitesmoke;
    color: black;
    font-weight: 700;
    border-radius: 5px;
}

/***********************************/

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #4b164c;
}

#app {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}

header {}


.home-main {
    height: 100%;
    color: black;
    display: flex;
    gap: 1rem;
    margin-inline: 2rem;
    overflow: hidden;
    padding: 1rem;
}

.active-tab-btn {
    color: black;
    background: whitesmoke;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.posts_section {
    height: 100%;
    position: relative;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
    color: black;
}

.create-Post-Form-Container {
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: all .3s ease-in;
    background-color: whitesmoke;
    box-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.5);

}

.create-Post-Form-Container_expanded {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-radius: 8px;
}

form {
    animation: appear .3s linear;
    animation-delay: 1s;
}

@keyframes appear {
    form {
        opacity: 0
    }

    ;

    to {
        opacity: 1
    }
}



.posts_section>button {
    border: unset;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(133, 46, 133);
    color: black;
    font-size: 24px;
    align-items: center;

    i {
        transform: translateX(1px);
    }
}



.posts_section>button>span {
    /* border: solid 1px; */
}

.post-comments-container {
    border-top: solid 1px black;
    padding: 1rem;
    overflow-y: auto;
}

.posts_Container {
    height: 100%;
    overflow-y: auto;
    top: 0;
    color: black;
}

/* post styling */
/* top: 200px ; */
.postContainer {
    padding: 1rem;
    border: solid #213555;
    border-radius: 5px;
    margin: auto;
    left: -100%;
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all .4s ease-in-out, border 0s;
    background: whitesmoke;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* position: relative; */
}

.postContainer .viewPost {
    background: whitesmoke;
    color: #3E5879;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}




.post-container_expand {
    background: whitesmoke;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: unset;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.post-comments-container {
    border: solid 1px;
    /* margin-bottom: 4rem ; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-container {
    border-left: 1px solid;
    padding: 5px 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#comment-form {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: end;

    bottom: 0;
    left: 0;

    /* display: flex; */
    /* align-items: end; */
    button {
        /* display: grid; */
        width: min-content;
        height: min-content;
    }
}

#comment-form .form-grp {
    flex-grow: 1;
}

#comment-form input {
    padding: 5px 10px;
}

/* Chat Section */
.chat_section {
    background: #ddd;
    width: calc(25% - 1rem / 2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.chat_users_cards-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.online-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.chat-user-card {
    border-bottom: #f5efe7 solid;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.online {
    background: whitesmoke;
}




.offline {
    background: whitesmoke;
}


#app:has(#login-form, #register-form) {}