:root {
    --primary-font: "Roboto", sans-serif;
    --background-color: whitesmoke;
    --text-color: black;
    --border-color: black;
    --shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
    --header-bg: rgb(231, 231, 231);
    --error-bg: rgb(201, 133, 133);
    --logout-bg: rgb(182, 0, 0);
    --primary-color: #47307B;
    --secondary-color: #6559A2;
    --bg-color: #ebe3ff;
    --chat-bg: #ddd;
    --border-radius: 10px;
    --border-radius-circle: 50%;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --font-size-sm: 13px;
    --font-size-md: 15px;
    --font-size-lg: 24px;
    --font-size-xl: 30px;
    --transition: all 0.5s ease-in;
    --scrollbar-thikness: 3px;
    --scrollbar-thumb: black;
    --scrollbar-thumb-hover: #b30000;
}

/* Global Reset and Base Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

::-webkit-scrollbar {
    width: var(--scrollbar-thikness);
    height: var(--scrollbar-thikness);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

body {
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
}

.primary-btn {
    background-color: var(--primary-color);
}

.secondary-btn {
    background-color: var(--bg-color);
}

/* App Container */
#app {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: max-content auto;
    grid-template-areas:
        'header header '
        'aside main ';
    width: 100%;
    height: 100%;
    background: #fff;
    /* gap: var(--spacing-md); */
}

#app:has(#login-form, #register-form) {
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 1rem
}

/* Header */
header {
    grid-area: header;
    width: 100%;
    padding: var(--spacing-md) var(--spacing-lg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    gap: 8px;
    align-items: end;

    img {
        height: 40px;
    }
}

/* Form Styles */
form {
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #292D32;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-have-error {
    padding: var(--spacing-lg);
    background: var(--error-bg);
    max-width: 500px;
}

#login-form,
#register-form {
    width: 100%;
    max-width: 400px;
    background: transparent;
    animation: appear 0.3s linear;
}

form+p {
    animation: appear 0.3s linear;
}

.form-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-grp label {
    font-size: var(--font-size-md);
    font-weight: 600;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px 20px;
}

textarea {
    resize: vertical;
    height: 400px;
}

.input-error {
    color: rgb(155, 0, 0);
    font-size: 14px;
    font-weight: 500;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

.form-buttons button {
    width: calc(50% - 10px);
}

/* Button Styles */
button {
    cursor: pointer;
    background: transparent;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: var(--font-size-md);
    transition: transform var(--transition);
}


.logout-btn {
    border: none;
    padding: 10px 20px;
    background: var(--logout-bg);
    color: var(--background-color);
    font-weight: 700;
    border-radius: var(--border-radius);
}

.close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
}

/* Main Content */
.home-main {
    height: 100%;
    display: flex;
    overflow: hidden;
}

main {
    grid-area: main;
    margin-top: 1rem;
    background-color: var(--bg-color);
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.4) 3px 3px 10px 0px inset;
    overflow: hidden;
}

/* Posts Section */
.posts_section {
    margin-top: 2rem;
}

.posts_container {
    padding: 2rem;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.posts_container:has(.post-container_expand) {
    top: 0;
    overflow: hidden;
}

.post-container {
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    transition: var(--transition);
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.post-header,
.post-body,
.post-footer {
    padding: 1rem 2rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.post-header .post-title {
    font-size: 18px;
    font-weight: 800;
    margin-top: 1rem;
    width: 100%;
}

.post-header .post-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span {
        display: flex;
        align-items: end;
        gap: 5px;

        img {
            height: 20px;
        }
    }
}

.post-header span {
    font-size: var(--font-size-sm);
    opacity: 0.6;
}

.post-header .tag {
    padding: 2px 5px;
    border-bottom: solid var(--primary-color);
}

.post-header .tag::before {
    font-size: var(--font-size-sm);
    margin-right: 2px;
    content: "#";
    color: black;
    font-size: large;
}

.post-body {
    border-left: solid var(--primary-color);
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.post-footer {
    padding-top: 1rem;
    border-top: solid 4px var(--bg-color);
    display: flex;
    align-items: end;
    /* justify-content: end; */
    gap: 20px;

    img {
        height: 25px;
        fill: red;
    }
}

.post-footer .reaction-container:last-child {
    margin-left: auto;
}


/* Comments Section */

.post-comments-section {
    background-color: var(--bg-color);
    height: 0px;
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}

.post-comments-section_expanded {
    opacity: 1;
    padding: 1rem 2rem;
    height: auto;
}

.post-comments-section .see-more {
    width: max-content;
    font-size: var(--font-size-md);
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

.post-comments-section .see-more:hover {
    color: var(--secondary-color);
}


.comments-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}


.comment-container {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.comment-container {
    display: flex;
    align-items: end;
}

.comment-container .comment-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    span {
        font-size: var(--font-size-sm);
        opacity: 0.6;
        display: flex;
        align-items: end;
        gap: 5px;

        img {
            height: 20px;
        }
    }

    p {
        margin-top: 10px;
    }

}


#comment-form {
    padding: unset;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#comment-form .form-grp {
    flex-grow: 1;
}

#comment-form input {
    all: unset;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}

#comment-form .form-buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#comment-form .form-buttons button {
    all: unset;
    display: grid;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    width: min-content;
    border-radius: 8px;
    /* height: min-content; */
}

.reaction-container {
    position: relative;
    cursor: pointer;
}

.reaction-container[data-reaction="comment"] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reaction-container i {
    font-size: 1.3rem;
}

.reaction-container span {
    font-size: var(--font-size-sm);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

/* Create Post and Filter */
.create-post-form-container {
    background-color: var(--bg-color);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: var(--transition);
    overflow-y: auto;

    h2 {
        display: flex;
        align-items: start;
        gap: 10px;
        margin-bottom: 1rem;

        img {
            cursor: pointer;
        }
    }

    input,
    textarea {
        border: none;
        outline: none;
    }

    input {
        font-size: 18px;
        font-weight: 800;
    }

    textarea {
        margin: 1rem;
        padding: 1rem;
        border-left: solid var(--primary-color);
    }
}

#create-post-form {
    background-color: white;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}



.create-post-form-container_expanded {
    padding: 2rem;
    width: 100%;
}


.filter-container {
    position: absolute;
    bottom: 80px;
    right: 15px;
    background: var(--background-color);
    border-bottom-right-radius: 25px;
    transition: all 0.2s ease-in;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    width: 0;
}

.filter-container_expanded {
    width: 300px;
    padding: var(--spacing-sm);
    top: 0;
    opacity: 1;
}

.filter-container>h2 {
    padding: var(--spacing-sm);
}

.filter-container>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

.category-option {
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

}

.category-option:has(input:checked) {
    border: solid 1px violet;
    border-radius: var(--border-radius);
}

.category-option input {

    width: 24px;
}

.category-option input:checked {
    /* opacity: .1; */
    color: violet;
}

.add-post-btn,
.filter-btn {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-circle);
    position: absolute;
    margin-left: auto;
    right: 15px;
    background: var(--background-color);
    border: solid var(--border-color);
    color: var(--text-color);
    font-size: var(--font-size-lg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn {
    bottom: 80px;
}

.add-post-btn {
    bottom: 20px;
}

.add-post-btn i,
.filter-btn i {
    transform: translate(1px, 2px);
}

/* Chat Section */
aside {
    grid-area: aside;
    padding: 1.5rem 1.5rem;
    background: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    /* width: 20%; */
    max-width: 300px;
}

aside .create-post-btn {
    width: max-content;
    border: unset;
    padding: 1rem 2rem 1rem 1.5rem;
    font-size: 1rem;
    align-items: end;
    gap: 8px;
    background-color: var(--secondary-color);
    color: white;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.chats-section-header {
    padding: .5rem 0;
    border-bottom: var(--secondary-color) solid;
    font-size: 1.1rem;
}

.chats-section-header h2 {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        height: 30px;
    }
}

.chat-list {
    display:grid;
    grid-template-columns:1fr max-content;   /* body | footer  */
    row-gap:10px;                            /* keeps your old flex gap */
    overflow-y:scroll !important;            /* keep the scroll you had */
}

.chat-user-card {
    padding: 10px 0px;
    display:contents;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-left: solid var(--bg-color);
    span {
        opacity: .6;
        font-size: var(--font-size-sm);
    }
}

.chat-user-card-body {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    .user_name, .user_status {
        width:50%;
    }
    .latest_message {
        width: 110%;
    }
}

.chat-user-card-body .user_name {
    font-weight: 600;
}

.chat-user-card .latest_message {
    font-size: var(--font-size-sm);
}

.chat-user-card-footer {
    span {
        width: max-content;
    }
    width: max-content;
}

.chat-user-card-footer .notification_container{
    img {
        width: 18px;
        /* background: red; */
    }
    align-self: self-end;
}


.chat-window {
    position: absolute;
    height: 100%;
    width: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: var(--transition) padding 0;
}

.chat-window_expanded {
    padding: 2rem;
    top: 0;
    left: 0;
    width: 100%;
}

.chat-window-header,
.chat-window-footer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-window .chat-window-header {
    left: 2rem;
    right: 2rem;
    /* border: solid red; */
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;

    .chat-user-card {
        border: none;
        cursor: default;
    }

    button {
        all: unset;
        cursor: pointer;
        width: min-content;
    }
}

.chat-window-body {
    flex-grow: 1;
    padding: 1rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    /* background: url(../assets/chatbg2.jpg) repeat center; */
    background-size: 25%;
}

.chat-window-body .chat-message-container {
    /* border: solid 1px red; */
    /* border: solid red; */
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    display: flex;

    span {
        font-size: .8rem;
        padding-left: .5rem;
        align-self: flex-end;
    }
}

.chat-window-body .align-self-end {
    --bg-color: rgb(121, 175, 121);
    align-self: flex-end;
    flex-direction: row-reverse;

    .message-bubble {
        background: var(--bg-color);
    }

    .message-bubble::after {
        border-top: 15px solid var(--bg-color);
        border-left: 15px solid transparent;
        border-right: 15px solid var(--bg-color);
        border-bottom: 15px solid transparent;
    }
}

.message-bubble {
    background-color: #ddd;
    padding: .5rem 1rem;
    border-radius: 10px;
    position: relative;
    /* background-color: transparent; */
}

.message-bubble::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -1rem;
    top: 0;
    border-top: 15px solid #ddd;
    border-left: 15px solid transparent;
    border-right: 15px solid #ddd;
    border-bottom: 15px solid transparent;
    z-index: 2;
}

.align-self-end .message-bubble::after {
    left: unset;
    right: -1rem;
    transform: rotate(-90deg);
}



#message-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: unset;

    .form-buttons {
        padding: unset;
    }

    textarea {
        height: min-content;
        display: grid;
        background: transparent !important;
    }

    .form-grp {
        flex-grow: 1;
    }

    .form-buttons {
        all: unset;
        width: min-content;
    }
}



/* Utility Classes */
.hide {
    display: none !important;
}

.show {
    display: block;
}

.row-reverse {
    flex-direction: row-reverse;
}

.active-tab-btn {
    color: var(--text-color);
    background: var(--background-color);
}


@media only screen and (max-width: 1000px) {
    
    #app {
    grid-template-rows: 1fr,2fr , 5fr;
    grid-template-columns: 100%;
    grid-template-areas:
        'header  '
        'aside  '
        'main';

}

    aside  {
        all: unset;
        border: solid red;
        display:  flex;
        justify-content: start;
        flex-direction: row;
        align-items: center;

        .create-post-btn {
            margin: unset;
        }
    }
    
    .chat-list {
        all: unset;
        display: flex;
        flex-direction: row;
        border: solid green;
        flex-grow: 1;
        overflow-x: scroll;
    }
    .chat-list .chat-user-card {
        width:  max-content;
    }
}



@media only screen and (max-width: 600px) {
    .home-main {
        flex-direction: column;
        padding: 10px;
    }

    .chat-list {
        display: flex;
    }

    .chat-window-body .chat-message-container {
        flex-direction: column !important;

        span {
            align-self: flex-start;
        }
    }

    .chat-window-body .align-self-end {
        align-self: flex-start;
        flex-direction: unset;
    }
}